*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: white;
    background-image: linear-gradient(45deg, #380a57, #06194e);
}

header {
    width: 100%;
}

.github-logo {
    width: 1.2rem;
}

nav {
    width: 100%;
    height: 4rem;
    border-bottom: 1px solid rgba(168, 168, 168, 0.41);
    color: rgba(255, 255, 255, 0.932);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8rem;
    justify-content: center;
    font-size: 1.1rem;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    font-weight: 600;
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

.weather-text {
    margin: 1rem;
    font-weight: 900;
    font-size: 2.25rem;
}

.divider {
    border-bottom: 1px solid rgba(168, 168, 168, 0.41);
    width: 10rem;
    margin: 5px auto;

}

.section-divider {
    border-bottom: 1px solid rgba(168, 168, 168, 0.41);
    width: 100%;
    margin: 5px auto;
}

.weather-container {
    text-align: center;
    padding: 20px 40px;
    width: max-content;
    background: rgba(31, 18, 18, 0.137);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(168, 168, 168, 0.41);
    margin: 5em auto;
    padding-bottom: 3em;
}

#locationName {
    font-size: 1.875rem;
    font-weight: 900;
    color: #f39e;
}

input {
    padding: 0.5em 1em;
    margin: 0.5em 0;
    border-radius: 0.75em 0 0 0.75em;
    background: rgba(31, 18, 18, 0.137);
    border: 1px solid rgba(168, 168, 168, 0.41);
    color: rgb(255, 255, 255);
    font-weight: 600;
}

input:focus {
    outline: none;
}

.search-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#searchButton {
    cursor: pointer;
    border-radius: 0.75em;
    font-weight: 600;
    border-radius: 0 0.75em 0.75em 0;
    border: 1px solid rgba(168, 168, 168, 0.41);
    padding: 0.5em 1em;
    margin: 0.5em 0;
    background-color: transparent;
}

#searchButton>img {
    width: 1em;
}

.text-grid {
    display: flex;
    flex-direction: row;
    margin: 0 10em;
    gap: 4rem;
}

.section-heading {
    font-size: 2.25rem;
    margin: 1rem;
    font-weight: 900;
    text-align: center;
    margin-top: 8rem;
}

.feature-info {
    text-align: center;
    margin-bottom: 5em;
}

.feature-info>h3 {
    font-size: 1.5em;
    margin-bottom: 5px;
    font-weight: 700;
}

.feature-info>p {
    margin-bottom: 6rem;
    font-size: 1em;
    font-weight: 300;
    margin-top: 0.7rem;
}

#weatherInfo {
    margin-top: 20px;
}

#about {
    display: flex;
    flex-direction: column;
}

.about-p {
    text-align: center;
    margin: auto;
    max-width: 50rem;
    margin-bottom: 2rem;
}

#projectButton {
    margin: auto;
    cursor: pointer;
    color: white;
    border-radius: 0.75em;
    font-size: 1.2rem;
    font-weight: 400;
    border: 1px solid rgba(168, 168, 168, 0.41);
    padding: 0.65em 1.25em;
    background-color: transparent;
    margin-bottom: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projectButton:hover>* {
    opacity: 0.7;
}

#projectButton>a:hover {
    color: white;
}

span {
    margin-right: 4px;
}

footer>p {
    margin: 2rem;
    text-align: center;
}

.sunny {
    position: relative;
    width: 6rem;
    height: 6rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sunny,
.partly_cloudy__sun {
    &:before {
        content: "";
        position: absolute;
        margin: 0 auto;
        height: 80%;
        width: 80%;
        top: 10%;
        right: 10%;
        border-radius: 50%;
        z-index: 2;
        background-color: #f1c40f;
        background-image: radial-gradient(#f1c40f, #f39c12);
        box-shadow: 0 0 25px #917508;
    }

    &:after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        border-radius: 50%;
        z-index: 1;
        background-color: #f39c12;
        will-change: opacity, transform;
        animation: fadeIn 2s linear infinite reverse,
            scaleDown 2s linear infinite reverse;
    }
}

.cloudy {
    position: relative;
    width: 6rem;
    height: 6rem;
    margin: 0 auto;
}

.cloudy,
.partly_cloudy__cloud,
.rainy__cloud,
.thundery__cloud {
    &:before {
        content: "";
        position: absolute;
        height: 40%;
        width: 40%;
        top: 30%;
        right: 0%;
        margin: 0 auto;
        border-radius: 50%;
        border-bottom-left-radius: 0;
        z-index: 2;
        background-color: #ecf0f1;
        background-image: radial-gradient(#ecf0f1, #bdc3c7);
        box-shadow: 0 0 25px rgba(0, 0, 0, .3);
    }

    &:after {
        content: "";
        position: absolute;
        height: 60%;
        width: 70%;
        top: 10%;
        right: 30%;
        border-radius: 50%;
        border-bottom-right-radius: 0;
        z-index: 1;
        background-color: #ecf0f1;
        background-image: radial-gradient(#ecf0f1, #bdc3c7);
        box-shadow: 0 0 25px rgba(0, 0, 0, .3);
    }
}

.partly_cloudy {
    position: relative;
    width: 6rem;
    height: 6rem;
    margin: 0 auto;

    &__sun {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        z-index: 1;
    }

    &__cloud {
        position: absolute;
        width: 60%;
        height: 60%;
        margin: 0 auto;
        top: 40%;
        z-index: 2;
        will-change: transform;
        animation: translateUp 2s linear infinite alternate;
    }
}

.rainy,
.thundery {
    position: relative;
    width: 6rem;
    height: 6rem;
    margin: 0 auto;

    &__cloud {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 2;

        &:before {
            background-color: #95a5a6;
            background-image: radial-gradient(#95a5a6, #7f8c8d);
        }

        &:after {
            background-color: #95a5a6;
            background-image: radial-gradient(#95a5a6, #7f8c8d);
        }
    }

    &__rain {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 1;
        overflow: hidden;

        &:before {
            content: "";
            position: absolute;
            height: 80%;
            width: 20%;
            top: 20%;
            right: 50%;
            z-index: 1;
            background-image: linear-gradient(transparent, #94cdd1);
            will-change: opacity, transform;
            animation: fadeIn 1s ease-out infinite reverse,
                scaleUp 1s ease-out infinite;
        }

        &:after {
            content: "";
            position: absolute;
            height: 60%;
            width: 20%;
            top: 40%;
            right: 20%;
            z-index: 1;
            opacity: 0;
            background-image: linear-gradient(transparent, #94cdd1);
            will-change: opacity, transform;
            animation: fadeIn 2s ease-out .4s infinite reverse,
                scaleUp 2s ease-out .4s infinite;
        }
    }
}

.thundery {
    &__cloud {
        &:before {
            background-color: #4d5656;
            background-image: radial-gradient(#4d5656, #393c3c);
            animation: thunder 4s linear .02s infinite alternate;
        }

        &:after {
            background-color: #4d5656;
            background-image: radial-gradient(#4d5656, #393c3c);
            animation: thunder 4s linear infinite alternate;
        }
    }

    &__rain {
        &:before {
            animation: fadeIn .5s ease-out infinite reverse,
                scaleUp .5s ease-out infinite;
        }

        &:after {
            animation: fadeIn .75s ease-out .2s infinite reverse,
                scaleUp .75s ease-out .2s infinite;
        }
    }
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes scaleDown {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(.8);
    }
}

@keyframes translateUp {
    0% {
        transform: translatey(15%);
    }

    100% {
        transform: translatey(0);
    }
}

@keyframes scaleUp {
    0% {
        transform: scaley(0);
    }

    100% {
        transform: scaley(1);
    }
}

@keyframes thunder {
    0% {
        box-shadow: 0 0 25px #fff;
    }

    2% {
        box-shadow: 0 0 25px rgba(0, 0, 0, .3);
    }

    49% {
        box-shadow: 0 0 25px rgba(0, 0, 0, .3);
    }

    50% {
        box-shadow: 0 0 25px #fff;
    }

    52% {
        box-shadow: 0 0 25px #f7db6e;
    }

    53% {
        box-shadow: 0 0 25px rgba(0, 0, 0, .3);
    }

    69% {
        box-shadow: 0 0 25px rgba(0, 0, 0, .3);
    }

    70% {
        box-shadow: 0 0 25px #fff;
    }

    71% {
        box-shadow: 0 0 25px rgba(0, 0, 0, .3);
    }

    75% {
        box-shadow: 0 0 25px rgba(0, 0, 0, .3);
    }

    76% {
        box-shadow: 0 0 25px #fff;
    }

    77% {
        box-shadow: 0 0 25px #a8d3f0;
    }

    78% {
        box-shadow: 0 0 25px rgba(0, 0, 0, .3);
    }

    100% {
        box-shadow: 0 0 25px rgba(0, 0, 0, .3);
    }
}